.header-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
}
*
{
        font-family: Verdana, Geneva, Tahoma, Sans-serif;
        color: rgb(255, 0, 0);
        font-weight: 600;
}
body
{
        background-image: url(../img/styles/dj-night-club-spotlight-ai-generated_990017-1977.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}
.wrapper-about
{
       
        margin: 0 auto;
        width: auto;
        padding: 20px;
        border-radius: 10px;
}
h1
{
        font-family: sans-serif;
        font-size: size xx-large;
        font-style: italic;
        text-decoration: wavy underline;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        color: rgb(236, 11, 11);
  
}

th, td
{
    font: sans-serif;
    text-align: center;
    background-color: white;
    
}

