*
{
        font-family: Verdana, Geneva, Tahoma, Sans-serif;
        color: blue;
        font-weight: 600;
}
body
{
        background-color: black;
}
h1
{
        font-family: sans-serif;
        font-size: xx-large;
        font-style: italic;
        text-decoration: wavy underline;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        color: white;
        background-color: black;
}
h2
{
        font-family: sans-serif;
        font-size: x-large;
        text-align: center;
        letter-spacing: 2px;
        text-transform: capitalize;
        color: white;
        background-color: black;
}
h3
{
        font-family: sans-serif;
        font-size: large;
        text-align: center;
        color: white;
        background-color: black;
}
h4
{
        font-family: sans-serif;
        word-spacing: 0.10em;
        font-size: medium;
        text-align: center;
        color: white;
        background-color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        
}
th, td
{
    font: sans-serif;
    text-align: center;
    background-color: white;
    color: black;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}